.small-edu-img {
    width: 120px; 
    height: 120px;
    object-fit: contain;
    display: block;
    margin: 15px auto 0;
    background: white;
    padding: 8px;
    border-radius: 10px;
  }
  body {
    margin: 0;
    padding: 0;
    background: black;
    overflow-y: auto;
  }
  
    